body { 
  font-family: 'Arial';
  margin: 0;
}

input { 
  font-family: 'Arial'; 
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex: 1;
  max-width: 600px;
}

button { font-family: 'Arial'; }

.send-button {
  cursor: pointer;
  background-color: rgb(25, 135, 84);
  color: white;
  border-radius: 0.4rem;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  transition: opacity 0.3s;
}

.send-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.send-button:hover:enabled {
  opacity: 0.8;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.app-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bot-message {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  align-items: start;
}

.user-message {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(237, 237, 237);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 300px;
  overflow-wrap: break-word;  

}

img {
  width: 45px;
}

.chat-messages-container {
  flex: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
